name: Build Android APK

on:
  push:
    branches:
      - main
  workflow_dispatch: # Botão para rodar manualmente se precisar

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install flet
          # Se você subiu o requirements.txt, isso garante que o fpdf seja instalado
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build APK
        run: |
          # O comando padrão, esperando que o arquivo se chame main.py
          flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: financeiro-app
          path: build/apk/*.apk
        with:
          name: financeiro-app
          path: build/apk/*.apk
