name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install flet
          pip install fpdf
          # Dependências extras aqui se precisar

      - name: Build APK
        run: |
          yes | flet build apk --verbose

      # --- O SEGREDO ESTÁ AQUI ---
      # Este passo procura especificamente o 'app-release.apk' (que é o pequeno)
      # e o copia para a raiz com o nome 'Finantea.apk'.
      - name: Locate and Rename APK
        run: |
          find . -name "app-release.apk" -exec cp {} Finantea.apk \;
          ls -lh Finantea.apk  # Mostra o tamanho do arquivo no log para você conferir

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Finantea-App
          path: Finantea.apk
