name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Flet
        run: |
          python -m pip install --upgrade pip
          pip install flet

      - name: Build APK
        run: |
          flet build apk --verbose --yes \
            --product "Andy Financeiro" \
            --icon icone.png \
            --splash icone.png \
            --splash-color "#000000" \
            --assets "icone.png"
